.header::before, .section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  /* sticky footer */
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #2e2e2e;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 10;
  background-image: url("../img/bg/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Desktop */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1599px) {
  .header {
    background-image: url("../img/bg/header-bg-1600.jpg");
  }
}
@media (max-width: 1199px) {
  .header {
    background-image: url("../img/bg/header-bg-900.jpg");
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("../img/bg/header-bg-600.jpg");
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("../img/bg/header-bg-320.jpg");
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  z-index: 9;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__btns {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__btns {
    margin-bottom: 30px;
  }
}

.header__btns-search {
  margin-left: auto;
}

.header__btns-nav-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__content {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 130px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__desc {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 730px;
  font-weight: 700;
  font-size: 20px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.header__desc p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__desc {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__desc {
    max-width: 430px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .header__desc {
    margin-bottom: 30px;
    font-size: 15.8px;
  }
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
}

.button-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.button-round:hover {
  background: #00c470;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in, top 0.01s ease-in 0.2s;
  transition: opacity 0.2s ease-in, top 0.01s ease-in 0.2s;
}

.nav__list {
  text-align: center;
}
.nav__list li:not(:last-child) {
  margin-bottom: 40px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
.nav__list a {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  /* Mobile XS */
}
.nav__list a:hover {
  color: #15d784;
}
@media (max-width: 599px) {
  .nav__list a {
    font-size: 18px;
  }
}

.nav.nav--active {
  z-index: 10;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__top {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.nav-icon:hover {
  background: #00c470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::after,
.nav-icon:hover .nav-icon__middle::before {
  background-color: #fff;
}
.nav-icon:focus {
  outline: none;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  -webkit-transition: background-color 0s ease-in 0.1s;
  transition: background-color 0s ease-in 0.1s;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  -webkit-transition: top 0.2s linear 0.2s, background-color 0s ease-in 0.1s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, background-color 0s ease-in 0.1s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0s ease-in 0.1s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0s ease-in 0.1s, -webkit-transform 0.2s ease-in;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 11;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, background-color 0.2s ease-in;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, background-color 0.2s ease-in;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in 0.2s;
}

.search {
  position: relative;
  z-index: 9;
}

.search__input {
  padding-left: 30px;
  padding-right: 30px;
  width: 0;
  height: 60px;
  background: #ffffff;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  -webkit-transition: width 0.2s ease-in, padding 0.2s ease-in;
  transition: width 0.2s ease-in, padding 0.2s ease-in;
}
.search__input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:focus {
  outline: 1px solid #000;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.search__button:hover {
  background: #00c470;
}
.search__button:hover .search__button-icon {
  stroke: #fff;
}

.search__button-icon {
  stroke: #000;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.search.search--visible .search__input {
  width: 340px;
  padding-left: 30px;
  padding-right: 65px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    width: 220px;
    padding-left: 20px;
    font-size: 14px;
  }
}
.search.search--visible .search__button {
  background-color: #00c470;
}
.search.search--visible .search__button:hover {
  background-color: #15d784;
}
.search.search--visible .search__button .search__button-icon {
  stroke: #fff;
}

.input {
  padding-left: 30px;
  padding-right: 30px;
  width: 240px;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #fff;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .input {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .input {
    width: 290px;
  }
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: 1px solid #fff;
  background: black;
}

.button {
  display: inline-block;
  width: 246px;
  height: 60px;
  background: #00c470;
  border-radius: 30px;
  border: 1px solid #00c470;
  cursor: pointer;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .button {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .button {
    width: 290px;
  }
}

.button:hover {
  background: #00d378;
}

.button:focus {
  outline: none;
  border: 1px solid #fff;
}

.button:active {
  background: #00b667;
  position: relative;
  top: 1.5px;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-functional__row {
    row-gap: 30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    row-gap: 40px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  width: 270px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
  }
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 64px;
  height: 64px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.cart__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .cart__title {
    margin-bottom: 10px;
    line-height: 1.5;
    min-height: 48px;
  }
}
@media (max-width: 899px) {
  .cart__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.section-cta {
  padding-top: 83px;
  padding-bottom: 84px;
  position: relative;
  background-image: url("../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Desktop */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1599px) {
  .section-cta {
    background-image: url("../img/bg/cta-bg-1600.jpg");
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/bg/cta-bg-900.jpg");
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("../img/bg/cta-bg-600.jpg");
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("../img/bg/cta-bg-320.jpg");
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile XS */
}
.section-cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
    padding-top: 5px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    width: 290px;
    padding-top: 0;
    text-align: center;
  }
}

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    margin-bottom: 10px;
    width: 100%;
  }
  .section-tasks__img img {
    width: 270px;
    margin-left: 17px;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    width: 100%;
    line-height: 1.71;
  }
}

.section-tasks__text p:not(:last-child) {
  margin-bottom: 15px;
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-focus__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    width: 415px;
    max-width: unset;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    margin-bottom: 10px;
    width: 100%;
  }
  .section-focus__img img {
    width: 290px;
    margin-left: -10px;
  }
}

.section-focus__content {
  margin-top: -80px;
  width: 470px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    margin-top: -40px;
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    margin-top: 0;
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 290px;
    text-align: center;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: 100%;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.71;
  }
}

.section-focus__text p:not(:last-child) {
  margin-bottom: 15px;
}

.section-price {
  padding-top: 90px;
  padding-bottom: 100px;
  position: relative;
  background-image: url("../img/bg/price-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Desktop */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1599px) {
  .section-price {
    background-image: url("../img/bg/price-bg-1600.jpg");
  }
}
@media (max-width: 1199px) {
  .section-price {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/bg/price-bg-900.jpg");
  }
}
@media (max-width: 899px) {
  .section-price {
    padding-bottom: 40px;
    background-image: url("../img/bg/price-bg-600.jpg");
  }
}
@media (max-width: 599px) {
  .section-price {
    padding-top: 40px;
    background-image: url("../img/bg/price-bg-320.jpg");
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
.section-price__header .title,
.section-price__header .subtitle {
  color: #fff;
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

.package {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 300px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .package {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .package {
    width: 300px;
  }
}
@media (max-width: 599px) {
  .package {
    width: 100%;
  }
}

.package--standart {
  background: rgba(48, 79, 254, 0.95);
}
.package--standart .package__title {
  color: #fff;
}
.package--standart .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.package__header {
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
}

.package__period {
  display: inline-block;
  padding: 6px 15.5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.package__list {
  margin-bottom: 58px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.package__list-item:not(:last-child) {
  margin-bottom: 25px;
}

.package__button {
  padding-left: 15px;
  padding-right: 15px;
}

.button-outline {
  display: inline-block;
  padding: 20.5px 39px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0);
}

.button-outline:focus {
  outline: none;
  background-color: black;
  border-color: rgba(255, 255, 255, 0.5);
}

.button-outline:active {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  top: 1.5px;
}

.button-solid {
  display: inline-block;
  padding: 20.5px 39px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2e2e2e;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.button-solid:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: #000;
  color: #fff;
}

.button-solid:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.75);
  border-color: #000;
  color: #fff;
}

.button-solid:active {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: #000;
  position: relative;
  top: 1.5px;
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 100%;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider__arrow--left {
  position: absolute;
  top: 53px;
  left: -46px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .slider__arrow--left {
    left: -20px;
  }
}
@media (max-width: 899px) {
  .slider__arrow--left {
    top: 65px;
    left: -45px;
  }
}

.slider__arrow--right {
  position: absolute;
  top: 53px;
  right: -46px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .slider__arrow--right {
    right: -20px;
  }
}
@media (max-width: 899px) {
  .slider__arrow--right {
    top: 65px;
    right: -45px;
  }
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background: #e1e1e1;
}

.slider__pagination-item--active {
  background: #00c470;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slider-item__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__author {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.slider-item__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    width: 60px;
    height: 60px;
  }
}

.slider-item__user-info {
  font-weight: 500;
  font-size: 16px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__user-info {
    font-size: 14px;
  }
}

.slider-item__prof {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__name {
  display: block;
  color: #808080;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1a1a1a;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    row-gap: 40px;
    margin-bottom: 40px;
  }
}

.footer__nav {
  /* Mobile XS */
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  /* Mobile XS */
}
.footer__nav-item:not(:last-child) {
  margin-right: 50px;
}
.footer__nav-item:hover {
  color: #15d784;
}
@media (max-width: 599px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 0px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .footer__social {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
}
.footer__social-item:hover {
  background-color: #00c470;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  /* Mobile XS */
}
@media (max-width: 599px) {
  .footer__copyright {
    margin: 0 auto;
    width: 200px;
    line-height: 1.5;
  }
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */