.input {
  padding-left: 30px;
  padding-right: 30px;

  width: 240px;
  height: 60px;

  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #fff;

  /* Mobile */
  @media (max-width: 899px) {
    width: 370px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 290px;
  }
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: 1px solid #fff;

  background: rgba(0, 0, 0, 1);
}
