.slider {
  position: relative;
  padding-bottom: 54px;

  /* Mobile */
  @media (max-width: 899px) {
    padding-bottom: 44px;
  }
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;

  border-radius: 50%;
  border: none;
  background-color: #f5f5f5;

  cursor: pointer;
  transition: background-color 0.15s ease-in;

  .slider__arrow-svg {
    stroke: #00c470;

    transition: stroke 0.15s ease-in;
  }

  &:hover {
    background-color: #00c470;

    .slider__arrow-svg {
      stroke: #fff;
    }
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    display: none;
  }
}

.slider__arrow--left {
  position: absolute;
  top: 53px;
  left: -46px;
  transform: translateX(-100%);

  /* Tablet */
  @media (max-width: 1199px) {
    left: -20px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    top: 65px;
    left: -45px;
  }
}

.slider__arrow--right {
  position: absolute;
  top: 53px;
  right: -46px;
  transform: translateX(100%);

  /* Tablet */
  @media (max-width: 1199px) {
    right: -20px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    top: 65px;
    right: -45px;
  }
}

.slider__pagination {
  display: flex;
  column-gap: 10px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background: #e1e1e1;
}

.slider__pagination-item--active {
  background: #00c470;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;

  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: #000000;

  /* Tablet */
  @media (max-width: 1199px) {
    line-height: 1.5;
  }

  /* Mobile */
  @media (max-width: 899px) {
    margin-bottom: 20px;
    font-size: 16px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slider-item__author {
  display: flex;
  align-items: center;
  column-gap: 20px;

  /* Mobile XS */
  @media (max-width: 599px) {
    column-gap: 10px;
  }
}

.slider-item__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  overflow: hidden;

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
  }
}

.slider-item__user-info {
  font-weight: 500;
  font-size: 16px;

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__prof {
  display: block;
  margin-bottom: 5px;

  color: #00c470;
}

.slider-item__name {
  display: block;

  color: #808080;
}
